/* Bu kod tüm butonlardaki o köşeli mavi/gri kutuyu ve dış çizgiyi siler */
button, 
button:focus, 
button:active, 
button:hover {
    outline: none !important;
    -webkit-tap-highlight-color: transparent !important;
    -webkit-focus-ring-color: transparent !important;
    box-shadow: none !important;
}

